.btn,
.btn:link,
.btn:visited {
  text-transform: lowercase;
  text-decoration: none;
  padding: 2rem 4rem;
  background-color: pink;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5rem;
  transition: all 0.2s;
}

.btn-pink {
  background-color: pink;
  color: white;
}

.btn-pink::after {
  background-color: pink;
  color: white;
}

.btn:hover {
  transform: scale(1.111);
  box-shadow: 0 10px 0.5rem palevioletred;
}

.btn::after {
  content: "";
  display: inline;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3%;
}

.btn::