@import "_variables.scss";
@import "_btn.scss";
@import "_bonebone.scss";
@import "_text-effects.scss";
@import "_bunny.scss";
@import "_halloween.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  width: 80vw;
  font-size: 1.5rem;
  padding: 1 rem;
}

.navbar {
  background-color: color(brown);
  font-size: 4rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4rem;
  color: white;
  border-style: dashed;
  border-radius: 5rem;
}
