html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: lowercase;
  text-decoration: none;
  padding: 2rem 4rem;
  background-color: #e91e63;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.btn-pink {
  background-color: #e91e63;
  color: #fce4ec;
}

.btn-pink::after {
  background-color: #e91e63;
  color: #fce4ec;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 0.5rem rgba(141, 110, 99, 0.6);
          box-shadow: 0 10px 0.5rem rgba(141, 110, 99, 0.6);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bonebone {
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.bonebone:hover {
  border-radius: 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-effects {
  background-image: url("./media/flowers.jpeg");
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.text-effects:hover {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  letter-spacing: 3rem;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bunny-parent {
  width: 60rem;
  height: 40rem;
}

.bunny-gallery {
  margin: 3rem;
  position: relative;
}

.bunny-photo {
  position: absolute;
  height: 20rem;
  -webkit-box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline-offset: 1rem;
}

.bunny-photo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.5);
  outline: 1rem dashed #8d6e63;
  z-index: 2;
}

.bunny-gallery:hover .bunny-photo:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}

.bunny-photo-1 {
  top: 14rem;
  left: 27%;
}

.bunny-photo-2 {
  top: 0rem;
  right: 4%;
}

.bunny-photo-3 {
  top: -2rem;
  left: 13%;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.halloween {
  height: 30rem;
  position: relative;
}

.halloween-picture {
  height: 30rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cats-header {
  font-size: 3rem;
  opacity: 1;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: lowercase;
}

.halloween:hover .halloween-picture {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.halloween:hover .cats-header {
  opacity: 1;
  top: 40%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 2rem auto;
  width: 80vw;
  font-size: 1.5rem;
  padding: 1 rem;
}
/*# sourceMappingURL=style.css.map */